<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Clínica</title>
</head>
<body>
    <div id="encabezado">
        <div id="menú">
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="citas.html">Cita</a></li>
                <li><a href="especialidades.html">Especialidades</a></li>
                <li><a href="servicios.html">Servicios</a></li>
                <li><a href="quienes_somos.html">Quienes somos</a></li>
                <li><a href="contactanos.html">Contactanos</a></li>
                <p>Bienvenido , {{ session['username'] }}</p>
                <form action="/logout"><button class="boton"  type="submit">Exit</button></form>
            </ul> 
        </div>
        <div class="contac">
        <tr>
            <td rowspan="3"><img src="img/contacto.png" width="100%" height="10%"></td>
            <td>
                <div>
                    <h1>CONTÁCTANOS</h1>
                    <h3>Dirección:</h3>
                    <p>23A. Pte. Sur 710, Santa Elena, 29000 Tuxtla Gutiérrez, Chis.</p>
                    <h3>Teléfono:</h3>
                    <p>961 602 6140</p>
                    <h3>Correo electrónico:</h3>
                    <p>clínicadesalud@outlock.com.mx</p>
        </div>
        </tr>
    </div>